WCFContactBookClient/WCFContactBookClient/Connected Services/Proxy/ContactBook.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactBook" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54334/ContactBook.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54334/ContactBook.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54334/ContactBook.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFContactBook" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactBook_GetAllContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContacts" />
  </wsdl:message>
  <wsdl:message name="IContactBook_GetAllContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactBook_GetAllGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroups" />
  </wsdl:message>
  <wsdl:message name="IContactBook_GetAllGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactBook_GetContactsByGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsByGroup" />
  </wsdl:message>
  <wsdl:message name="IContactBook_GetContactsByGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IContactBook_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="IContactBook_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IContactBook_CreateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContact" />
  </wsdl:message>
  <wsdl:message name="IContactBook_CreateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactBook_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="IContactBook_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactBook_DeleteContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContact" />
  </wsdl:message>
  <wsdl:message name="IContactBook_DeleteContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactBook_DeleteGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="IContactBook_DeleteGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactBook">
    <wsdl:operation name="GetAllContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactBook/GetAllContacts" message="tns:IContactBook_GetAllContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactBook/GetAllContactsResponse" message="tns:IContactBook_GetAllContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactBook/GetAllGroups" message="tns:IContactBook_GetAllGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactBook/GetAllGroupsResponse" message="tns:IContactBook_GetAllGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactsByGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactBook/GetContactsByGroup" message="tns:IContactBook_GetContactsByGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactBook/GetContactsByGroupResponse" message="tns:IContactBook_GetContactsByGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactBook/CreateGroup" message="tns:IContactBook_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactBook/CreateGroupResponse" message="tns:IContactBook_CreateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactBook/CreateContact" message="tns:IContactBook_CreateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactBook/CreateContactResponse" message="tns:IContactBook_CreateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactBook/UpdateContact" message="tns:IContactBook_UpdateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactBook/UpdateContactResponse" message="tns:IContactBook_UpdateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactBook/DeleteContact" message="tns:IContactBook_DeleteContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactBook/DeleteContactResponse" message="tns:IContactBook_DeleteContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactBook/DeleteGroup" message="tns:IContactBook_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactBook/DeleteGroupResponse" message="tns:IContactBook_DeleteGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpPoint" type="tns:IContactBook">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllContacts">
      <soap:operation soapAction="http://tempuri.org/IContactBook/GetAllContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <soap:operation soapAction="http://tempuri.org/IContactBook/GetAllGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactsByGroup">
      <soap:operation soapAction="http://tempuri.org/IContactBook/GetContactsByGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri.org/IContactBook/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <soap:operation soapAction="http://tempuri.org/IContactBook/CreateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/IContactBook/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://tempuri.org/IContactBook/DeleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/IContactBook/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactBook">
    <wsdl:port name="httpPoint" binding="tns:httpPoint">
      <soap:address location="http://localhost:54334/ContactBook.svc/ContactBook.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>